{% extends 'layout.html' %}
{% set active_page='authentication.login' -%}

{% block title %}
{{ super() }} | Login
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h3 class=>Login Page</h3>
        <hr>
        <form method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <!-- b4-form-checkbox -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="remember_me">
                        Remember Me
                    </label>
                </div>
            </div>
            <div class="form-group">
                <p>Don't have an account? <a id="register-link" href="./register">Register here.</a></p>
            </div>
            <div class="form-group">
                <input id="form-submit" type="submit" class="btn btn-outline-dark" value='Submit' />
            </div>
        </form>
    </div>
</div>
{% endblock %}